<% include ./partials/header %>
<% include ./partials/navbar %>

<div class="container">

  <h3><%= photo.title %></h3>

  <div class="container">
    <div class="row justify-content-md-center align-items-center">
      <div class="col-2 d-none d-md-block">
        <a href="/photos/ss/prev/<%= photo['sort-index'] %>"><i class="fas fa-angle-left"></i>
      </div>
      <div class="col-12 col-md-8">
        <a href="/photos/ss/next/<%= photo['sort-index'] %>"><img src="../img/gallery/<%= photo.image %>" class="img-fluid" alt="<%= photo.title %>">
      </div>
      <div class="col-2 d-none d-md-block">
        <a href="/photos/ss/next/<%= photo['sort-index'] %>"><i class="fas fa-angle-right"></i></a>
      </div>
    </div>

  <div>
    <p><%= photo.description %></p>
  </div>

  <p>
  <% if(devMode) { %>
  <a href="/photos/<%= photo._id %>/edit">
      <button class="btn btn-primary">Edit Photo</button>
    </a>
    <form id="deleteForm" action="/photos/<%= photo._id %>?_method=DELETE" method="POST">
      <button type="submit" class="btn btn-danger">Delete Photo</button>
    </form>
    <br>
    <% } %>



  </p>
  
</div>


<% include ./partials/scripts %>
<% include ./partials/footer %>