<% include ./partials/header %>
<% include ./partials/navbar %>

<div class="container">

  <h3><%= photo.title %></h3>

  <!-- Make this into a bootstrap responsive grid -->

  <div>
    <span class="arrow arrow-left"><a href="#"><i class="fas fa-angle-left"></i></a></span>
    <span><img src="../img/gallery/<%= photo.image %>" class="img-fluid" alt="<%= photo.title %>"></span>
    <span class="arrow arrow-right"><a href="#"><i class="fas fa-angle-right"></i></a></span>
  </div>

  <div>
    <p><%= photo.description %></p>
  </div>

  <p>
  <% if(devMode) { %>
  <a href="/photos/<%= photo._id %>/edit">
      <button class="btn btn-primary">Edit Photo</button>
    </a>
    <form id="deleteForm" action="/photos/<%= photo._id %>?_method=DELETE" method="POST">
      <button type="submit" class="btn btn-danger">Delete Photo</button>
    </form>
    <br>
    <% } %>



  </p>
  
</div>


<% include ./partials/scripts %>
<% include ./partials/footer %>