<% include ./partials/header %>
<% include ./partials/navbar %>

<div class="container">

  <h3><%= photo.title %></h3>

  <div class="container">
   
    <img src="../img/gallery/<%= photo.image %>" class="img-fluid" alt="<%= photo.title %>"> 

  <div>
    <p><%= photo.description %></p>
  </div>

  <p>
  <% if(currentUser) { %>
  <a href="/photos/<%= photo._id %>/edit">
      <button class="btn btn-primary">Edit Photo</button>
    </a>
    <form id="deleteForm" action="/photos/<%= photo._id %>?_method=DELETE" method="POST">
      <input name="photo[image]" value ="<%= photo.image %>" hidden></input>
      <button type="submit" class="btn btn-danger">Delete Photo</button>
    </form>
    <br>
    <% } %>

    <a href="./photos"><button class="btn btn-primary">Back</button></a>

  </p>
  
</div>


<% include ./partials/scripts %>
<% include ./partials/footer %>