<% include ./partials/header %>
<% include ./partials/navbar %>

<div class="container">

  <h3><%= photo.title %></h3>

  <img src="../img/<%= photo.image %>" class="img-fluid" alt="<%= photo.title %>">
  <p><%= photo.description %></p>

  <% if(devMode) { %>
  <p><a href="/photos/<%= photo._id %>/edit">
      <button class="btn btn-primary">Edit Photo</button>
    </a>
    <form id="deleteForm" action="/photos/<%= photo._id %>?_method=DELETE" method="POST">
      <button type="submit" class="btn btn-danger">Delete Photo</button>
    </form>
    <br>
    <% } %>

    <div>

      <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button"
        data-show-count="false">Tweet</a>
      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>

    <!-- Load Facebook SDK for JavaScript -->
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v4.0">
    </script>

    <!-- Your share button code -->
    <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button"
      data-size="small"><a target="_blank"
        href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse"
        class="fb-xfbml-parse-ignore">Share</a></div>




  </p>
  <a href="/photos">
    <p>Back</p>
  </a>
</div>


<% include ./partials/scripts %>
<% include ./partials/footer %>